# Database
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=kredar;Username=postgres;Password=postgres

# JWT
JwtSettings__Secret=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET_KEY_MIN_32_CHARS
JwtSettings__Issuer=kredar-api
JwtSettings__Audience=kredar-clients
JwtSettings__ExpiryMinutes=60

# Email (Gmail SMTP)
EmailSettings__Host=smtp.gmail.com
EmailSettings__Port=587
EmailSettings__Username=your_email@gmail.com
EmailSettings__Password=your_gmail_app_password
EmailSettings__FromName=Kredar
EmailSettings__FromEmail=your_email@gmail.com

# Nomba
NombaSettings__BaseUrl=https://api.nomba.com
NombaSettings__ClientId=YOUR_NOMBA_CLIENT_ID
NombaSettings__ClientSecret=YOUR_NOMBA_CLIENT_SECRET
NombaSettings__AccountId=YOUR_NOMBA_ACCOUNT_ID

# App
AppSettings__BaseUrl=http://localhost:8080
